#nav-home { background-image: url(../image/icon/home.svg); }
#nav-log { background-image: url(../image/icon/log.svg); }
#nav-litreview { background-image: url(../image/icon/log.svg); }
#nav-coursework { background-image: url(../image/icon/coursework.svg); }
#nav-car { background-image: url(../image/icon/coursework.svg); }
#nav-intprog { background-image: url(../image/icon/coursework.svg); }
#nav-indadd { background-image: url(../image/icon/coursework.svg); }
