.paralax-container .paralax {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform-origin: 0 0;
}

.paralax img {
    height: 100%;
}

.paralax-1 img {
    height: 200%;
}

.paralax-1 { transform: translateZ(-1px) scale(2); }
.paralax-2 { transform: translateZ(-2px) scale(3); }
.paralax-3 { transform: translateZ(-3px) scale(4); }
.paralax-4 { transform: translateZ(-4px) scale(5); }
.paralax-5 { transform: translateZ(-5px) scale(6); }
.paralax-6 { transform: translateZ(-6px) scale(7); }
.paralax-7 { transform: translateZ(-7px) scale(8); }
.paralax-8 { transform: translateZ(-8px) scale(9); }