html, body {
    margin: 0;
}

header {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
    margin-left:50%;
    perspective-origin: 0 0;
    transform-style: preserve-3d;
}

.paralax{
    position: absolute;
    top: 0;
    right: 0;
}

.paralax layer8{
    transform: translateZ(-1800px) scale(19);
}

.paralax layer7{
    transform: translateZ(-1600px) scale(19);
}

.paralax layer6{
    transform: translateZ(-1400px) scale(19);
}

.paralax layer5{
    transform: translateZ(-1200px) scale(19);
}

.paralax layer4{
    transform: translateZ(-1000px) scale(19);
}

.paralax layer3{
    transform: translateZ(-800px) scale(19);
}

.paralax layer2{
    transform: translateZ(-600px) scale(19);
}

.paralax layer1{
}

main{
    height:1000px;
}